@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  background-color: #489c2b;
  border-radius: 50px;
  transform: translateY(20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar div {
  font-family: "Quicksand";
  color: #ffffff;
  background-color: #489c2b;
}
.navbar h1 {
  cursor: pointer;
  margin-right: auto;
  font-family: "Quicksand";
  color: #ffffff;
  background-color: #489c2b;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-family: "Quicksand";
  color: #ffffff;
  background-color: #489c2b;
}
.navbar a:hover {
  color: #ef8e61;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
